@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
}

body {
  background: white;
  font-family: "Montserrat", sans-serif;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1400px;
  height: 72px;
  background: #1c1c1c;
  color: white;

  a,
  i {
    color: white;
  }
  a:hover {
    cursor: pointer;
  }
  .selected {
    padding-bottom: 24.7px;
    border-bottom: 2px solid #e27866;
    line-height: 48px;
  }
  .navlogo {
    align-items: center;
    width: 119px;
    height: 52px;
    margin: 0 0 0 151px;
  }
}
.links {
  margin-right: 102px;
  .link {
    margin-right: 46px;
  }
}
#burger {
  cursor: pointer;
  font-size: 2em;
  transition: transform 0.3s;
  display: none;
  .rotate {
    transform: rotate(-90deg);
  }
  .block {
    display: block;
  }
}

.section-1 {
  color: white;
  background: #1c1c1c;

  .image {
    width: 100%;
    height: 639px;
    background-image: url(/app/images/photo-1480714378408-67cf0d13bc1b@2x.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    // opacity: 0.63;
  }
  .secbox-1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 65px 91px 139px 150px;

    img {
      width: 247px;
      height: 107px;
      margin-bottom: 23px;
    }
    h1 {
      max-width: 426px;
      height: 87px;
      font-size: 36px;
      font-weight: 500;
    }
    hr {
      margin-top: 27px;
      margin-bottom: 28px;
      width: 75px;
      height: 3px;
      background-color: white;
    }
    p {
      margin-bottom: 52px;
      max-width: 651px;
      height: 65px;
    }
    button {
      max-width: 135px;
      height: 42px;
      border: 2px solid white;
      color: white;
      background: transparent;
      opacity: 1;
      font-size: 20px;
      font-weight: 500;
      transition: 0.5s;
    }
    button:hover {
      cursor: pointer;
      background-color: white;
      color: black;
      border: 2px solid black;
    }
  }
  .secbox-2 {
    margin: 75px 148px 140px 0;
    width: 25.719%;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #ffffff;
    border-radius: 8px;
  }
  h2 {
    text-align: center;
    padding: 17px 50px 17px 50px;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    background: #f5f5f5;
    color: black;
    border-radius: 8px 8px 0 0;
    span {
      color: orange;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0 30px;
    h5 {
      color: black;
      font-size: 16px;
    }

    input {
      border: 0;
      border-bottom: 2px solid #d8d8d8;
      width: 90%;
    }

    h6 {
      color: #1c1c1c;
      font-size: 16px;
      margin-top: 25px;
      margin-bottom: 20px;
      font-weight: 600;
    }
  }
  .radioBtn {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    input {
      margin: 3px;
      width: 5%;
      accent-color: green;
    }

    span {
      width: 47px;
      height: 11px;
      vertical-align: middle;
      display: inline-block;
      line-height: 20px;
      padding: 0 5px;
      font-weight: bold;
      font-size: 9px;
    }
  }
  #submit {
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .hide {
    display: none;
  }

  #submit {
    cursor: pointer;

    display: flex;
    justify-content: center;
    color: white;
    border: 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 57px;
    padding: 0;
    background: #41d395;
    align-items: center;
    font-size: 18px;
  }
}
.section-2 {
  display: flex;
  height: 105px;
  max-width: 1400px;
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 681px;
    padding-right: 15px;
    h2 {
      font: normal normal 600 20px/24px "Montserrat";
      letter-spacing: 0px;
      color: #333333;
      opacity: 1;
      margin: 19px 0 0 151px;
    }
    p {
      margin: 5px 0 19px 151px;
      font: normal normal normal 14px/20px "Montserrat";
      letter-spacing: 0px;
      color: #86878b;
      opacity: 1;
    }
  }
  .social-icons {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 37.5px;
    height: 30px;
    width: 719px;
    margin-right: 158px;
  }
  #wifi {
    color: #eda89c;
    font-size: 30px;
  }
}
.section-3 {
  max-width: 1400px;
  position: relative;
  text-align: center;
  color: white;
  display: flex;

  .image {
    width: 100%;
    height: 595px;
    background-image: url(/app/images/christoffer-engstrom-503481-unsplash@2x.jpg);
    background-position: center;
    background-size: cover;
    // filter: brightness(63%);
    // opacity: 0.43;
    padding: 127px 147px 115px 150px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;

    align-items: center;
  }
  .thirdBox-1 {
    position: absolute;
    width: 50%;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
  }
  button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #a37169;
    max-width: 100px;
    height: 100px;
    margin-bottom: 21px;
    background: #a37169;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    transition: 1s;
  }
  #first {
    padding: 15px 0px 10px 0px;
    #first p {
      color: black;
      text-align: left;
      font-size: 14px;
    }
  }

  .selected {
    background: #e27866;
    color: white;
  }
  .tab {
    float: left;
    margin-left: 154px;
    max-width: 509px;
    opacity: 0;
    transform: translateX(-10%);
    transition: 0.8s;
    h3 {
      font-size: 36px;
      text-align: left;
      text-align: justify;
      font-weight: 500;
      color: white;
      width: 509px;
      height: 124px;
      letter-spacing: 0;
      margin-bottom: 33px;
    }
  }
  .tab p {
    text-align: justify;

    height: 138px;
    font-size: 14px;
    letter-spacing: 0;
  }

  .tabAnimation {
    transform: translateX(0);
    opacity: 1;
  }
}
.thirdBox-2 {
  width: 50%;
  padding-left: 140px;
  display: flex;
  flex-direction: column;
  .twoImage {
    display: flex;
    flex-direction: row;
    img {
      width: 168px;
      height: 168px;
    }
    #salota {
      margin-right: 25px;
    }
  }
  .oneImage {
    display: flex;
    flex-direction: row;

    img {
      width: 362px;
      height: 174px;
    }
  }
  .salota {
    width: 168px;
    height: 168px;
    background-image: url(/app/images/salota.png);
    background-position: center;
    background-size: cover;

    .img-description {
      width: 168px;
      height: 168px;
      font-size: 20px;
      color: white;
      font-weight: 500;
      margin-left: 55px;
      padding-top: 45%;
      visibility: hidden;
    }
  }
  .salota:hover {
    opacity: 0.2;
  }
  .img-description:hover {
    visibility: visible;
    columns: black;
  }

  .salotos {
    width: 168px;
    height: 168px;
    margin-left: 23px;
    background-image: url(/app/images/salotos.png);
    background-position: center;
    background-size: cover;
    .img-description {
      width: 78px;
      height: 24px;
      font-size: 20px;
      color: white;
      font-weight: 500;
      margin-left: 55px;
      padding-top: 45%;
      visibility: hidden;
    }
  }
  .salotos:hover {
    opacity: 0.2;
  }
  .img-description:hover {
    visibility: visible;
    columns: black;
  }
  .kojos {
    width: 362px;
    height: 177px;
    background-image: url(/app/images/kojos.png);
    background-position: center;
    background-size: cover;
    .img-description {
      width: 78px;
      height: 24px;
      font-size: 20px;
      color: white;
      font-weight: 500;
      margin-left: 55px;
      padding-top: 45%;
      visibility: hidden;
    }
  }
  .kojos:hover {
    opacity: 0.2;
  }
  .img-description:hover {
    visibility: visible;
    columns: black;
  }
}

.section-4 {
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
  height: 596px;
  max-width: 1400px;
  .text {
    display: flex;
    flex-direction: column;
    float: right;
    margin: 90px 184px 25px 0;
  }
  .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
    .eye {
      display: flex;
      align-items: center;
      margin-right: 18px;
      width: 50px;
      height: 50px;
      justify-content: center;
      color: white;
      font-size: 1.8em;
      border: 5px solid #e27866;
      background: #e27866;
      border-radius: 100%;
    }
    .title {
      color: white;
      margin-top: 15px;
      p {
        margin-top: 6px;
        width: 394px;
        height: 38px;
      }
    }
  }
  .box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    .chat {
      display: flex;
      align-items: center;
      margin-right: 18px;
      width: 50px;
      height: 50px;
      justify-content: center;
      color: white;
      font-size: 1.8em;
      border: 5px solid #e27866;
      background: #e27866;
      border-radius: 100%;
    }
    .title {
      color: white;
      margin-top: 15px;
      p {
        margin-top: 6px;
        width: 394px;
        height: 38px;
      }
    }
  }
  h2 {
    color: white;
    width: 314px;
    height: 80px;
    font-size: 30px;
    font-weight: 500;
  }
  hr {
    margin-top: 15px;
    width: 200px;
    background-color: #e27866;
    height: 0;
    border: 1px solid #e27866;
  }
  p {
    margin-top: 25px;
    color: white;
    float: right;
    width: 451px;
    height: 58px;
    font-size: 14px;
  }
  .img-logo {
    width: 50%;
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  img {
    display: flex;
    width: 388px;
    height: 169px;
  }
}
.section-5 {
  height: 592px;
  background-color: white;
  text-align: center;
  h2 {
    margin-top: 99px;
    font-size: 36px;
    font: normal normal 500 36px/43px "Montserrat";
    line-height: 44px;
  }
  hr {
    margin: 25px auto;
    width: 64px;
    background-color: #e27866;
    height: 0;
    border: 2px solid #e27866;
  }
  p {
    margin-top: 25px;
    font-size: 14px;
    color: #86878b;
    line-height: 18px;
  }
  .awesome {
    display: flex;
    margin-top: 65px;
    justify-content: space-evenly;
    width: 100%;
  }
  .box-1,
  .box-2,
  .box-3 {
    width: 242px;
    height: 194px;
    text-align: center;
    h3 {
      color: #333333;
      font-weight: 500;
      font-size: 20px;
    }
    .p {
      color: #86878b;
      font-size: 14px;
    }
  }
  i {
    font-size: 30px;
    color: #e27866;
    margin-bottom: 48px;
    padding: 10px;
    border: 1px solid #e27866;
    border-radius: 100%;
  }
}
.section-6 {
  background-color: #6696e2;
  text-align: center;
  height: 883px;
  padding-top: 1px;

  h2 {
    margin: 0 auto;
    margin-top: 77px;
    color: white;
    font-size: 36px;
    width: 338px;
    height: 44px;
    font-weight: 500;
  }
  p {
    margin: 0 auto;
    color: white;
    font-size: 14px;
    height: 18px;
    font-weight: 300;
  }
  hr {
    margin: 20px auto;
    margin-bottom: 26px;
    width: 64px;
    background-color: #41d395;
    height: 0;
    border: 2px solid #41d395;
  }
  .pricing {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 0 100px 0 100px;
    width: 100%;
  }
  #pricing-text {
    margin-bottom: 83px;
  }

  .box1 {
    cursor: pointer;

    width: 30%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;

    .name {
      height: 59px;
      border-radius: 5px 5px 0 0;
      background-color: rgb(41, 41, 41);
      color: white;
      font-size: 20px;
      font-weight: 500;
      padding: 15px;
    }
    .price {
      height: 115px;
      background-color: rgb(41, 41, 41);
      color: white;
      span {
        font-size: 94px;
      }
    }
    .border {
      height: 51px;
      background-color: rgb(41, 41, 41);
      color: white;
      font-size: 14px;
      padding-bottom: 25px;
      border-bottom: 6px solid #41d395;
    }
    li {
      padding: 10px 0 10px 0;
      color: #86878b;
    }
  }
  .box2 {
    cursor: pointer;

    width: 30%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;

    .name {
      height: 59px;
      border-radius: 5px 5px 0 0;
      background-color: rgb(41, 41, 41);
      color: white;
      font-size: 20px;
      font-weight: 500;
      padding: 15px;
    }
    .price {
      height: 115px;
      background-color: rgb(41, 41, 41);
      color: white;
      span {
        font-size: 94px;
      }
    }
    .border {
      height: 51px;
      background-color: rgb(41, 41, 41);
      color: white;
      font-size: 14px;
      padding-bottom: 25px;
      border-bottom: 6px solid #41d395;
    }
    #popular {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      background-color: #41d395;
      font-size: 14px;
    }
    li {
      padding: 10px 0 10px 0;
      color: #86878b;
    }
  }
  .box3 {
    cursor: pointer;

    width: 30%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;

    .name {
      height: 59px;
      border-radius: 5px 5px 0 0;
      background-color: rgb(41, 41, 41);
      color: white;
      font-size: 20px;
      font-weight: 500;
      padding: 15px;
    }
    .price {
      height: 115px;
      background-color: rgb(41, 41, 41);
      color: white;
      span {
        font-size: 94px;
      }
    }
    .border {
      height: 51px;
      background-color: rgb(41, 41, 41);
      color: white;
      font-size: 14px;
      padding-bottom: 25px;
      border-bottom: 6px solid #41d395;
    }
    li {
      padding: 10px 0 10px 0;
      color: #86878b;
    }
  }
}
.section-7 {
  width: 100%;
  height: 591px;
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0 auto;
    margin-top: 67px;
    margin-bottom: 31px;
    width: 696px;
    height: 44px;
    font-size: 36px;
    font-weight: 500;
  }
  hr {
    margin: 0 auto;
    margin-bottom: 58px;
    width: 64px;
    height: 2px;
    background: #6696e2;
    color: #6696e2;
    border: 0;
  }
  .swiper {
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 300px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0;
  }
  // .swiper-wrapper {
  //   width: 100%;
  //   height: 236px;
  //   position: relative;
  //   margin: 0 auto;
  //   z-index: 1;
  //   display: flex;
  //   transition-property: transform;
  //   box-sizing: content-box;
  // }
  .swiper-slide {
    margin-top: 58px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .testimonial-1::before {
      position: absolute;
      content: "";
      left: 2%;
      margin-top: 14%;
      border: 14px solid transparent;
      border-top-color: #6696e2;
    }
    .testimonial-2::before {
      position: absolute;
      content: "";
      left: 39%;
      margin-top: 14%;
      border: 14px solid transparent;
      border-top-color: #6696e2;
    }
    .testimonial-3::before {
      position: absolute;
      content: "";
      left: 76%;
      margin-top: 14%;
      border: 14px solid transparent;
      border-top-color: #6696e2;
    }

    p {
      max-width: 273px;
      height: 147px;
      background-color: #6696e2;
      border-radius: 8px;
      font-size: 16px;
      color: white;
      padding: 20px;
    }
    .testimonial-2 p {
      margin-top: 22px;
      width: 273px;
      height: 125px;
    }
    .testimonial-1-name {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    img {
      width: 70px;
      height: 70px;
      margin-top: 19px;
      margin-right: 16px;
    }
    h5 {
      font-size: 20px;
      font-weight: 500;
      span {
        color: #86878b;
        font-size: 14px;
      }
    }
  }
}
.section-8 {
  width: 100%;
  height: 573px;
  background-color: #e27866;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    margin-top: 70px;
    width: 240px;
    height: 44px;
    font-size: 36px;
    color: white;
    font-weight: 500;
    text-align: center;
  }
  p {
    margin-top: 50px;
    width: 390px;
    height: 18px;
    color: white;
    font-size: 14px;
  }
  form {
    margin-top: 27px;
    box-shadow: 0px 5px 6px #00000029;
    padding: 33px 65px 33px 65px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 5px;
    background-color: white;
    width: 390px;
    height: 314px;
  }
  input {
    color: #1c1c1c;
    border: 0;
    border-bottom: 2px solid #d8d8d8;
    width: 90%;
  }
  label {
    font-size: 10px;
    opacity: 0;
  }
  .secbox-2 {
    margin: 75px 148px 140px 0;
    width: 25.719%;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #ffffff;
    border-radius: 8px;
  }
  h2 {
    text-align: center;
    padding: 17px 50px 17px 50px;
    font-size: 20px;
    font-weight: 500;
    background: #f5f5f5;
    color: black;
    border-radius: 8px 8px 0 0;
  }
}
#submit {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  border: none;
  width: 158px;
  height: 48px;
  padding: 0;
  margin: 0 auto;
  background: #41d395;
  align-items: center;
  font-size: 18px;
}
.radioBtn {
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 41px;
  input {
    margin: 3px;
    width: 5%;
    accent-color: green;
  }

  span {
    width: 47px;
    height: 11px;
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    padding: 0 5px;
    font-weight: bold;
    font-size: 9px;
  }
}

.section-9 {
  height: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: black;
  color: #ffffff;
  .footer-social {
    cursor: pointer;
    height: 20px;
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 125px;
    img {
      width: 20px;
      height: 20px;
    }
  }
  #wifi-1 {
    color: #934e43;
    font-size: 17px;
  }
  .footer-company {
    width: 50%;
    display: flex;
    justify-content: center;
    opacity: 50%;
    font-size: 18px;
    padding-left: 160px;
  }
}

@media (max-width: 980px) {
  .navlogo {
    display: flex;
    justify-content: center;
    margin: 0 0 0 0 !important;
  }
  nav {
    min-height: 72px;
    justify-content: center;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
  }

  .selected {
    text-decoration: none;
  }
  a {
    display: none;
    padding: 5px;
  }
  #burger {
    display: block;
    position: absolute;
    top: 17.5px;
    right: 15px;
  }
  .section-2 {
    display: none;
  }
}
